<%= form_with(model:[@author, recipe], local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group recipe-form">
    <%= form.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= form.label :difficulty, class: 'col-sm-1 control-label' %>
    <%= select(:recipe, :difficulty, [['Easy'], ['Intermediate'],['Pro'],['Chef']]) %>
  <div class="field form-group"> 
   <%= form.label :comment, class: 'col-sm-2 control lable'%> 
    <div class="col-sm-10">
    <%= form.text_area :comment %>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit %>
    </div>
  </div>
<% end %>



