<div class="row text-align-center">
<p id="notice"><%= notice %></p>
 <h1>Recipes</h1>
</div>



<div class="row">
    <% @recipes.each do |recipe| %>
    <div class="recipe col-md-12"> 
        <h2><%= recipe.title %></h2>
        <h6>Author: <%= recipe.author.first_name%> <%= recipe.author.last_name%></h6>
        <h6>Difficulty: <%= recipe.difficulty %></h6>
        <h6>Ingredients</h6>
        <div class= "ingredients"> 
          <ul>
          <% recipe.ingredients.each do |ingredient| %>
         <li><%= ingredient.amount %> <%= ingredient.units %> .......... <%= ingredient.name %></li> 
          <% end %>
          </ul> 
        </div>
        <h6>Comment</h6>
        <p><%= recipe.comment %></p> 
      
     <div class="row ">
         <div class="recipe-btn col-sm-1">
        <%= link_to 'Add Ingredients', new_recipe_ingredient_path(recipe), class: "btn btn-primary btn-sm" %> 
        </div>
         <div class="recipe-btn col-sm-1">
        <%= link_to 'Edit Recipe', edit_author_recipe_path(@author, recipe), class: "btn btn-primary btn-sm" %> 
        </div>
         <div class="recipe-btn col-sm-1">
          <%= link_to 'Destroy', [@author, recipe], class: "btn btn-secondary btn-sm",method: :delete, data: { confirm: 'Are you sure?' } %> 
        </div>
     </div>    
       
  </div>
    <% end %>
</div>


  <div class="row edit-ctrls">
    <div class="col-md-2">
    <%= link_to 'go back to author', authors_path(@author), class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
