<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

 <div>
    <% @recipes.each do |recipe| %> 
      <div class= "recipe">
        <h2><%= recipe.title %></h2>
        <br>
        <p><%= recipe.author.first_name + '' + recipe.author.last_name%></p>
        <br>
        <p><%= recipe.difficulty %></td>
        <br>
        <table>
        <tr> 
          <% recipe.ingredients.each do |ingredient| %>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.amount %></td> 
          <td><%= ingredient.units %></td>   
          <% end %>
        </tr>
        </table>
        <p><%= recipe.comment %></p>
      </div>
        <br>
        <div class="controls">
        <%= link_to 'Show Author', [@author] %><p>
        <%= link_to 'show ingredients', recipe_ingredients_path(recipe) %>
        <%= link_to 'add ingredients', new_recipe_ingredient_path(recipe) %><
        <%= link_to 'Edit Recipe', edit_author_recipe_path(@author, recipe) %><
        <%= link_to 'Destroy', [@author, recipe], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
    <% end %>
 </div>

<br>

<%= link_to 'go back to author', author_path(@author) %>
<%= link_to 'New Recipe', new_author_recipe_path(@author) %>
