<p id="notice"><%= notice %></p>
<div class="recipe-show">
  <h1>
    <%= @recipe.title %>
  </h1>

  <p>
    <strong>Author:</strong>
    <%= @recipe.author.first_name + ' ' + @recipe.author.last_name %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= @recipe.difficulty %>
  </p>

    <p>
    <strong>Comment:</strong>
    <%= @recipe.comment %>
  </p>

  <div class ingredients> 
   <h6>Ingredients</h6>
    <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li> 
    <% end %>
    </ul> 
  </div>
</div>
<div class="row-cols-4">
  <%= link_to 'Edit', edit_author_recipe_path(@author, @recipe), class:"btn btn-primary" %> 
  <%= link_to 'Add Ingredients', new_recipe_ingredient_path(@recipe), class:"btn btn-primary" %> 
  <%= link_to 'Back', authors_path, class:"btn btn-primary"%>
   
</div>
<div class="edit-ctrls" id="new-boobs">
<%= link_to 'Destroy', [@author, @recipe], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary btn-sm" %> 
  <%= link_to 'Add Ingredients', new_recipe_ingredient_path(@recipe), remote: true %>
</div>