<div class="recipe-show">
  <div class="row justify-content-center">
    <div>
    <div class="row">
      <h3 id="notice"><%= notice %></h3>
    </div>
  
    <h1>
      <%= @recipe.title %>
    </h1>
    </div>
  </div>
<div class="row justify-content-center">
 <div class=recipe-text> 
  <p>
    <strong>Author:</strong>
    <%= @recipe.author.first_name + ' ' + @recipe.author.last_name %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= @recipe.difficulty %>
  </p>

    <p>
    <strong>Comment:</strong>
    <%= @recipe.comment %>
  </p>
 </div>
</div> 
 <div class="row justify-content-center"> 
 <div>
   <h6>Ingredients</h6>
  </div>  
    <ul id="ingredient-list">
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.amount %> <%=ingredient.units %> ............ <%= ingredient.name %></li> 
    <% end %>
    </ul>
 </div>    
    <div class="row justify-content-center"> 
      <div class="recipe-btn" id="new-ingredient">
         <%= link_to 'Add Ingredients', new_recipe_ingredient_path(@recipe), class: "btn btn-primary btn-sm", remote: true %> 
      </div> 

      <div class="recipe-btn">
       <%= link_to 'Edit Ingredients', recipe_ingredients_path(@recipe), class:"btn btn-primary btn-sm" %>
      </div>
   </div>  
  

</div>  
  
<div class="row justify-content-center"> 
  <div class="recipe-btn ">
  <%= link_to 'Edit Recipe', edit_author_recipe_path(@author, @recipe), class:"btn btn-outline-primary btn-sm" %> 
  </div>  
  <div class="recipe-btn">
  <%= link_to 'Back', authors_path, class:"btn btn-outline-primary btn-sm"%>
  </div> 
  <div class="recipe-btn">
  <%= link_to 'Delete', [@author, @recipe], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %>   
  </div> 
</div>
<div id="new-ingredient">
 
</div>
</div>