

<h1>Authors</h1>

<div class="container" id="box">
  <% @authors.each do |author| %>
  <div class="row">
    <div class="col py-3 px-lg-20 border bg-light"">
    <div class="clearfix">
    <div>
     <h3><%= author.first_name %></h3>
     </div>
     <div>
     <h3><%= author.last_name %></h3>
    </div>
    <div>
     <h3><%= author.email %></h3>
    </div> 
    <div>
    <%= link_to 'See Recipes', author_recipes_path(author)%> |
     <%= link_to 'Show', author %>|
     <%= link_to 'Edit', edit_author_path(author) %>|
     <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %> |
    </div>
    </div>
  </div> 
  <div class= "col py-3 px-lg-20 border bg-light">
    <% author.recipes.each do |recipe| %>
      <br>
      <%= recipe.title%>
  <% end %>    
  </div>
    <% end %>  
  </div>
  <br>
    <div>
      <%= link_to 'New Author', new_author_path %>
    </div>
      <h4 id="notice"><%= notice %></h4>
</div>


