
<div class="container"> 
  <div class="row ">
  <div class="text-center">
  <h1>Authors</h1>
  </div>
  </div>
    <% @authors.each do |author| %>
    <div class="row">
      <div class="col-md-12">
        <div class="author-box text-center">
          <div>
          <h3><%= author.first_name  + " " + author.last_name %></h3>
          </div>
          <div>
          <p><%= author.email %></p>
          </div>
        <div class="row">
          <div class="buttons">
          <div class="btn btn-sm">
          <%= link_to 'Show', author %>
          </div>
          <div class="btn btn-sm"> 
          <%= link_to 'Edit', edit_author_path(author) %>
          </div>
          <div class="btn btn-sm">
          <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="btn btn-sm">
           <%= link_to 'See recipes', author_recipes_path(author) %>
          </div>
          </div>
        </div>
       </div>   
      </div>
  </div>  
    <% end %>  
     <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 text-center">
        <%= link_to 'New Author', new_author_path %>
      </div>
      <div>
        <h4 id="notice"><%= notice %></h4>
      </div>   
    </div>
    </div> 
</div>


