<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ingredient.amount %>
</p>

<p>
  <strong>Units:</strong>
  <%= @ingredient.units %>
</p>

<%= link_to 'See Recipe', author_recipe_path( @recipe, @recipe.author_id), class:"btn btn-primary"  %> 
<%= link_to 'Back', recipe_ingredients_path, class:"btn btn-primary"  %>
